@charset "UTF-8";

.container-reg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reginfo span {
	color: rgba(133, 120, 110, 1);
	font-size: 15px;
}

.reginfo form {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	width: 80vw;
	max-height: 80vh;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}

.input-group {
	margin-bottom: 15px;
}

.input-group input, .input-group textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: rgba(245, 246, 250, 1);
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
}

.input-group2 {
	margin-bottom: 15px;
}

.input-group2 input, .input-group2 textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25) inset;
	color: rgba(38, 40, 61, 0.5);
}

.input-group a {
	display: inline-block;
	text-align: center;
	background-color: rgba(245, 246, 250, 1);
	border-radius: 5px;
	text-decoration: none;
	width: 100%;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
}

.reginfo button {
	color: white;
	text-align: center;
	border: none;
	width: 120px;
	height: 30px;
	display: block;
	margin: 0 auto; /* 가로 가운데 정렬을 위해 추가 */
	border-radius: 5px;
	text-decoration: none;
	background-color: rgba(38, 40, 61, 1);
}