@charset "UTF-8";

.container-reg {
	display: flex;
	justify-content: center;
	/* 	align-items: center; */
}

.reginfo span {
	color: rgba(133, 120, 110, 1);
	font-size: 15px;
}

.reginfo form {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	width: 80vw;
	max-height: 70vh;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
	max-width: 800pt;
	height: 100%;
}

.input-group , .input-group2 {
	margin-top: 15px;
	height: 7vh;
	min-height: 40pt;
}

.input-group-text {
	margin-top: 10px;
}

.input-group-text textarea, .input-group input {
	padding: 10px;
	font-size: 14pt;
	width: 100%;
	height: 78%; border : none;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: rgba(245, 246, 250, 1);
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
	border: none;
}

}
.input-group2 {
	margin-bottom: 15px;
}

.input-group2 input, .input-group2 textarea {
	padding: 10px;
	font-size: 14pt;
	width: 100%;
	height: 78%;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25) inset;
	color: rgba(38, 40, 61, 0.5);
}

.input-group a {
	display: inline-block;
	height: 2.5rem;
	text-align: center;
	background-color: rgba(245, 246, 250, 1);
	border-radius: 5px;
	text-decoration: none;
	width: 100%;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
	font-size: 18pt;
}

.reg-btn {
	margin: 10pt;
}

.reginfo button {
	color: white;
	text-align: center;
	border: none;
	width: 120px;
	height: 30px;
	display: block;
	margin: 0 auto; /* 가로 가운데 정렬을 위해 추가 */
	border-radius: 5px;
	text-decoration: none;
	background-color: rgba(38, 40, 61, 1);
}