@charset "UTF-8";

.container-sale {
	width: 90%;
	height: 100%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: auto;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
	max-width: 600px;
}

.sale-nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 3rem;
	align-items: center;
	font-size: 16px;
	color: white;
}

.sale-nav a {
	text-decoration: none;
	color: white;
}

.sale-nav span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.sale-now {
	text-align: center;
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}

.sale-complete {
	align-items: center;
	text-align: center;
	width: 50%;
	height: 100%;
	width: 50%;
	background-color: rgba(246, 110, 110, 1);
}

.sale-Page {
	overflow: auto;
	height: 80%;
	width: 100%;
}

.sale-list {
	display: flex;
	background: rgba(245, 246, 250, 1);
	margin: 15px;
	border-radius: 20px;
	height: 20%;
	min-height: 80pt;
	justify-content: space-around;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.trade-all-list {
	overflow: auto;
	margin-top: 30px;
	width: 100%;
	text-align: center;
	max-width: 660px;
}

.trade-list {
	display: flex;
	background: rgba(245, 246, 250, 1);

	margin: 15px;
	border-radius: 20px;
	height: 16%;
	min-height: 80pt;
	justify-content: space-around;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.book-img {
	width: 30%;
}

.book-img img {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
	margin: 5pt;
	align-items: center;
	width: 90%;
	max-width: 80pt;
	height: 90%;
	min-height: 110pt;
	border-radius:5px; 
}

.trade-book-info {
	margin: 10pt;
	width: 70%;
	text-align: left;
}

.title {
	font-size: 12px;
	font-weight: 500;
	color: blue;
}

.booktitle {
	font-size: 10px;
	padding: 2px;
}

.authors {
	font-size: 10px;
	padding: 2px;
}

.publisher {
	font-size: 10px;
	padding: 2px;
}

.price {
	font-size: 8px;
	color: red;
}

.trade-soldout {
	position: relative;
	width: 20%;
	height: 24%;
	font-size: 8px;
	max-width: 60px;
	display: flex; /* flex 컨테이너로 설정 */
	align-items: center; /* 세로 중앙 정렬 설정 */
	justify-content: center; /* 가로 중앙 정렬 설정 */
}

.soldout {
	/* 기존 스타일 유지 */
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
	border-radius: 0px 10px 0px 10px;
	color: white;
	width: 100%;
	height: 100%;
	background-color: rgba(246, 110, 110, 1);
	display: flex; /* flex 컨테이너로 설정 */
	align-items: center; /* 세로 중앙 정렬 설정 */
	justify-content: center;
}

.sale {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
	border-radius: 0px 10px 0px 10px;
	color: white;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex; /* flex 컨테이너로 설정 */
	align-items: center; /* 세로 중앙 정렬 설정 */
	justify-content: center;
}