@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	background-color: #F5F6FA;
	height: 100vh;
}
/* header 부분 작업 시작*/
.head-line {
	background-color: #F5F6FA;
	display: flex;
	min-height: 120px;
	height: 14vh;
	width: 100vw;
	text-align: center;
	position: relative;
	justify-content: space-around;
}

.menu-gh {
	display: flex;
	align-items: center;
}

.head-line img {
	width: 30px;
	height: 30px;
	align-self: center;
}

.head-line h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: rgba(38, 40, 61, 1);
}

.menu-title-gh {
	width: 12rem;
	height: 3.5rem;
	background-color: transparent;
	border: none;
	margin-top: 3rem;
	margin-bottom: 5rem;
	margin-left: 2rem;
}

.menu-title-gh img {
	width: 12rem;
	height: 3.5rem;
}

.menu-close-gh {
	width: 4.5rem;
	heigt: 4.5rem;
	background-color: transparent;
	border: none;
}

.menu-close-gh img {
	width: 2.5rem;
	heigt: 2.5rem;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
}

.menu-list-box {
	margin-left: 2rem;
}

.menu-list-gh {
	
}

.menu-list-gh img {
	height: 4rem;
	margin-bottom: 1rem;
}

.menu-list-gh h2 {
	font-size: 4rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.menu-list-gh h4 {
	color: rgba(38, 40, 61, 0.6);
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
}

.menu-list-gh span {
	font-size: 1.5rem;
	font-weight: 800;
	margin-left: 0.5rem;
}

#menu-dialog {
	width: 45vw;
	height: 100vh;
	background-color: white;
	border-radius: 0px 50px 0px 0px;
	box-shadow: 15px 5px 20px 0px rgba(0, 0, 0, 0.10);
	position: relative;
	border: none;
}

@media only screen and (max-width : 1000px) {
	.head-line {
		background-color: #F5F6FA;
		display: flex;
		min-height: 120px;
		height: 14vh;
		width: 100vw;
		text-align: center;
		position: relative;
		justify-content: space-between;
	}
	.menu-title-gh {
		width: 12rem;
		/* 		height: 3.5rem; */
		background-color: transparent;
		border: none;
		margin-top: 3rem;
		margin-bottom: 5rem;
		margin-left: 2rem;
	}
	.menu-title-gh img {
		width: 12rem;
		height: 3.5rem;
	}
	.menu-close-gh {
		width: 4.5rem;
		heigt: 4.5rem;
		background-color: transparent;
		border: none;
	}
	.menu-close-gh img {
		width: 1rem;
		position: absolute;
		top: 3.5rem;
		right: 1.5rem;
	}
	.menu-list-box {
		margin-left: 2rem;
	}
	.menu-list-gh img {
		height: 2.5rem;
		margin-bottom: 1rem;
	}
	.menu-list-gh h2 {
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.menu-list-gh h4 {
		color: rgba(38, 40, 61, 0.6);
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	.menu-list-gh span {
		font-size: 1rem;
		font-weight: 800;
		margin-left: 0.5rem;
	}
	#menu-dialog {
		width: 80vw;
		height: 100vh;
		background-color: white;
		border-radius: 0px 50px 0px 0px;
		box-shadow: 15px 5px 20px 0px rgba(0, 0, 0, 0.10);
		position: relative;
		border: none;
	}
}

/* contentpage  */
.content-page {
	position: relative;
	height: 80vh;
	width: 100vw;
	background-color: rgba(245, 246, 250, 1);
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

/* footer 시작 */
.foot-line {
	display: flex;
	justify-content: space-around;
	background-color: rgba(38, 40, 61, 1);
	width: 100vw;
	height: 5vh;
	min-height: 30pt;
	font-size: 10px;
	position: relative;
	align-items: center;
	border-radius: 0px, 0px, 20px, 20px;
}

.foot-line a {
	color: rgba(253, 247, 227, 1);
	align-items: center;
	font-size: 10px;
}

.foot-line span {
	align-items: center;
}