@charset "UTF-8";

.container-msg {
	width: 98%;
	height: 100%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: auto;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.0625);
}

.msg-nav {
	display: flex;
	justify-content: space-around;
	width: 98%;
	height: 3rem;
	align-items: center;
	font-size: 16px;
	background-color: skyblue;
}

.msg-nav span {
	text-decoration: none;
	color: white;
}

.msg-page {
	margin-top: 10px;
	height: 100%;
}

.msg-list {
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	width: 86%;
}





