<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.eb.mapper.BookrecordMapper">

<insert id="regIng">
	INSERT INTO EB_BOOK_RECORD VALUES (EB_BR_SEQ.NEXTVAL, #{brDTO.b_no}, 'kkh', 0, SYSDATE)
</insert>

<insert id="regIngModal">
	INSERT INTO EB_BOOK_RECORD VALUES (EB_BR_SEQ.NEXTVAL, #{bDTO.b_no}, 'kkh', 0, SYSDATE)
</insert>

<select id="getBookIng" resultType="com.fp.eb.model.BookrecordDTO">
	SELECT B_TITLE, B_THUMBNAIL, B_PAGE, B_AUTHORS, BR_NO, BR_PAGE, BR_DATE FROM EB_BOOK, EB_BOOK_RECORD WHERE BR_OWNER = 'kkh' AND B_NO = BR_BOOK AND B_PAGE != BR_PAGE ORDER BY BR_NO DESC
</select>

<select id="getIngByNo" resultType="integer" parameterType="com.fp.eb.model.BookrecordDTO" >
	SELECT COUNT(*) FROM EB_BOOK_RECORD WHERE BR_BOOK = #{brDTO.b_no} AND BR_OWNER = 'kkh'
</select>

<select id="getBookWish" resultType="com.fp.eb.model.BookrecordDTO">
	SELECT B_NO, B_TITLE, B_THUMBNAIL, B_AUTHORS, LR_NO, LR_OWNER FROM EB_BOOK, EB_LIKE_RECORD WHERE LR_OWNER = 'kkh' AND LR_WHERE_TYPE = 'BOOK' AND B_NO = LR_WHERE_NO
</select>

<select id="getBookFin" resultType="com.fp.eb.model.BookrecordDTO">
	SELECT B_TITLE, B_THUMBNAIL, B_PAGE, B_AUTHORS, BR_NO, BR_PAGE, BR_DATE FROM EB_BOOK, EB_BOOK_RECORD WHERE BR_OWNER = 'kkh' AND B_NO = BR_BOOK AND B_PAGE = BR_PAGE ORDER BY BR_DATE 
</select>

<select id="getCurPage" resultType="integer">
	SELECT BR_PAGE FROM EB_BOOK_RECORD WHERE BR_NO = #{br_no} 
</select>

<select id="getIngCnt" resultType="integer">
	SELECT COUNT(*) FROM EB_BOOK_RECORD, EB_BOOK WHERE BR_OWNER = 'kkh' AND B_NO = BR_BOOK AND B_PAGE != BR_PAGE
</select>

<update id="updateCurPage" parameterType="com.fp.eb.model.BookrecordDTO">
	UPDATE EB_BOOK_RECORD SET BR_PAGE = #{br_page} WHERE BR_NO = #{br_no}
</update>

<delete id="delBr" parameterType="com.fp.eb.model.BookrecordDTO">
	DELETE FROM EB_BOOK_RECORD WHERE BR_NO = #{br_no}
</delete>

<delete id="delWish" parameterType="com.fp.eb.model.BookrecordDTO">
	DELETE FROM EB_LIKE_RECORD WHERE LR_NO = #{lr_no}
</delete>


</mapper>