<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.eb.mapper.CommunityMapper">

	<select id="getAllCommunity"
		resultType="com.fp.eb.model.CommunityDTO">
		select * from eb_community
	</select>

	<select id="getCommunity"
		resultType="com.fp.eb.model.CommunityDTO">
		select * from eb_community where c_no= #{c_no}
	</select>

	<select id="getAllCommunityPost"
		resultType="com.fp.eb.model.CommunityPostDTO"
		parameterType="com.fp.eb.model.CommunityDTO">

		select * from eb_community_post, eb_community
		where cp_community = c_no and c_no=#{c_no}
	</select>
</mapper>