<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.eb.mapper.CommunityMapper">

	<select id="getAllCommunity"
		resultType="com.fp.eb.model.CommunityDTO">
		select * from eb_community
	</select>

	<select id="seachAllCommunity"
		resultType="com.fp.eb.model.CommunityDTO">
		select * from eb_community where c_name like
		'%'||#{c_name}||'%'
	</select>

	<select id="getAllCommunityPost"
		resultType="com.fp.eb.model.CommunityPostDTO"
		parameterType="com.fp.eb.model.CommunityDTO">
		select * from eb_community_post, eb_community
		where
		cp_community = c_no and c_no=#{c_no} order by cp_date desc
	</select>

	<select id="getAllMyPost"
		resultType="com.fp.eb.model.CommunityPostDTO">
		select * from eb_community_post where cp_owner =
		#{cp_owner} order by cp_date desc
	</select>

	<select id="getAllMyReply"
		resultType="com.fp.eb.model.CommunityPostDTO"
		parameterType="com.fp.eb.model.CommunityReplyDTO">
		select * from eb_community_post, eb_community_reply
		where cp_no = cr_cp_no
		and cr_owner = #{cr_owner} and cr_date = (
		select max(cr_date) from eb_community_reply where cr_owner =
		#{cr_owner}
		and cp_no = cr_cp_no
		) order by cp_date desc
	</select>

	<select id="commentMyPost"
		resultType="com.fp.eb.model.CommunityReplyDTO">
		select * from eb_community_reply, eb_community_post, eb_community where
		cp_no= cr_cp_no and c_no = cp_community and cp_owner = #{u_id} and not cr_owner = #{u_id} and cr_like = 0
		and cr_date between current_date -30 and current_date
		order by cr_date desc
	</select>
	
	<select id="commentAlarm"
		resultType="int">
		select count(*) from eb_community_reply, eb_community_post, eb_community where
		cp_no= cr_cp_no and c_no = cp_community and cp_owner = #{u_id} and not cr_owner = #{u_id} and cr_like = 0
		and cr_date between current_date -30 and current_date
		order by cr_date desc
	</select>

	<select id="seachAllCommunityPost"
		resultType="com.fp.eb.model.CommunityPostDTO">
		select * from eb_community_post where (cp_title like
		'%'||#{cp_seach}||'%' or
		cp_contents like '%'||#{cp_seach}||'%')
		and cp_community = #{c_no}
		order
		by cp_date desc
	</select>



	<select id="getCommunity"
		resultType="com.fp.eb.model.CommunityDTO">
		select * from eb_community where c_no= #{c_no}
	</select>

	<select id="getCommunityPost"
		resultType="com.fp.eb.model.CommunityPostDTO">
		select * from eb_community_post where cp_no = #{cp_no}
	</select>

	<select id="getAllReplys"
		resultType="com.fp.eb.model.CommunityReplyDTO">
		select * from eb_community_reply, eb_community_post
		where
		cr_cp_no = cp_no and cp_no=#{cp_no} order by cr_date asc
	</select>


	<select id="getCountReplys" resultType="int">
		select count(*) from
		eb_community_reply where cr_cp_no = #{cp_no}
	</select>

	<select id="getAllPinnedCommu" 
		resultType="com.fp.eb.model.CommunityDTO">
		select c_name, c_no, lr_type from eb_community,
		eb_like_record
		where lr_where_no = c_no and
		lr_type = 1 and
		lr_owner =
		#{u_id}
	</select>

	<select id="checkPinnedCommu" resultType="int">
		select count(*) from
		eb_like_record where lr_where_type = 'COMMUNITY' and
		lr_owner = #{uDTO.u_id}
		and lr_where_no = #{cl.lr_where_no}
	</select>

	<select id="cheakPinnedTypeCommu" resultType="int">
		select lr_type from
		eb_like_record where
		lr_where_type = 'COMMUNITY' and lr_owner = #{uDTO.u_id}
		and lr_where_no = #{cl.lr_where_no}
	</select>
	
	<select id="getUserImg" resultType="com.fp.eb.model.UserDTO">
		select * from eb_community_post, eb_user where cp_owner = u_id and cp_no = #{cp_no}
	</select>
	
	
	
	<update id="updateCheckComment">
	update eb_community_reply set cr_like = 1 where cr_no = #{cr_no}
	</update>

	<update id="updatePinnedCommuZero">
		update eb_like_record set lr_type = 0 where
		lr_where_no = #{lr_where_no}
	</update>

	<update id="updatePinnedCommuOne">
		update eb_like_record set lr_type = 1 where
		lr_where_no = #{lr_where_no}
	</update>



	<update id="updateCommunityPost">
		update eb_community_post set cp_title = #{cp_title} ,
		cp_contents = #{cp_contents} where cp_no = #{cp_no}
	</update>

	<insert id="insertCommunity">
		insert into eb_community
		values(eb_community_seq.nextval, #{c_name})
	</insert>

	<insert id="insertWritingPost">
		insert into eb_community_post
		values(eb_cp_seq.nextval, #{uDTO.u_id}, #{cp.cp_title}, #{cp.cp_contents},
		#{cp.cp_community}, 0, 0, current_date)
	</insert>

	<insert id="insertPinnedCommu">
		insert into eb_like_record values(eb_lr_seq.nextval,
		#{uDTO.u_id}, 'COMMUNITY', #{cl.lr_where_no}, 1, current_date)
	</insert>

	<insert id="regReply">
		insert into eb_community_reply
		values(eb_cr_seq.nextval, #{uDTO.u_id}, #{cr.cr_cp_no}, #{cr.cr_contents} ,0,0,
		current_date)
	</insert>

	<delete id="deleteMyReply">
		delete eb_community_reply where cr_no = #{cr_no}
	</delete>

	<delete id="deleteCommunityPost">
		delete eb_community_post where cp_no = #{cp_no}
	</delete>

</mapper>