<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.eb.mapper.UserMapper">

	<insert id="regUser">
		INSERT INTO EB_USER VALUES(#{u_id}, #{u_pw}, #{u_name}, 'userProfile/default_user.png', 'default.email', #{u_gender}, #{u_age}, current_date, 0, 0, 0, 0, 'ROLE_USER')
	</insert>
	
	<select id="getUserById" resultType="com.fp.eb.model.UserDTO">
		SELECT * FROM EB_USER WHERE U_ID = #{u_id}
	</select>
	
	<update id="updateUser">
		UPDATE EB_USER SET U_NAME = #{u_name}, U_PROFILE = #{u_profile}, U_AGE = #{u_age} 
		<if test="u_pw == 'nono'">
		,U_PW = #{u_pw} 
		</if>
		WHERE U_ID = #{u_id}
		
	</update>
	
	
	
	
	<delete id="delUser">
		DELETE FROM EB_USER WHERE U_ID = #{u_id}
	</delete>
	
</mapper>