@charset "UTF-8";

/*
width/height 먼저, 그 다음은 알파벳순
상하좌우 위치 관련 등 세트가 있는 경우는 같이 씀
 */
* {
	color: #26283D;
	font-family: 'IBM Plex Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

.main-container-gh {
	width: 61.1rem;
	/* height: 132.8rem; */
	background-color: #F5F6FA;
	position: relative;
	background-color: #F5F6FA;
}

@media only screen and (max-width:1000px) {
	/********맨 위********/
	.main-top-gh {
		width: 61.1rem;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.menu-gh {
		width: 4rem;
		height: 4rem;
		background-color: transparent;
		border: none;
		margin-top: 6.5rem;
	}
	.menu-gh img {
		width: 3.7rem;
		height: 3.7rem;
		border: none;
	}
	.title-gh {
		width: 15rem;
		height: 4.5rem;
		background-color: transparent;
		border: none;
		margin-top: 95px;
		margin-left: 255px;
		margin-right: 250px;
	}
	.title-gh img {
		width: 15rem;
		height: 4.5rem;
	}
	.logo-gh {
		width: 3rem;
		height: 5.5rem;
		position: absolute;
		right: 0;
		margin-right: 3.5rem;
	}
	.profile-img-gh {
		width: 4.05rem;
		height: 4.05rem;
		border-radius: 1.5rem;
		margin-top: 6.5rem;
		overflow: hidden;
	}
	.profile-img-gh img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	/********검색창********/
	.main-select {
		background-color: transparent;
		border: none;
		color: rgb(38, 40, 61);
		font-size: 2rem;
		font-weight: bolder;
	}
	.main-select option {
		background: transparent;
		font-size: 2rem;
	}
	.search-gh {
		display: flex;
		justify-content: center;
		margin-bottom: 3.5rem;
	}
	.search-box-gh {
		width: 44rem;
		height: 3.7rem;
		background-color: #ffffff;
		border-radius: 4rem;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
		display: flex;
		margin-left: 1rem;
		margin-right: 1rem;
		position: relative;
	}
	.input-gh {
		width: 41.5rem;
		height: 3rem;
		background-color: transparent;
		border: none;
		color: rgba(38, 40, 61);
		font-size: 2rem;
		font-weight: bolder;
		margin-top: 0.4rem;
		position: absolute;
		left: 1.5rem;
	}
	.input-gh::placeholder {
		color: rgba(38, 40, 61, 0.3);
	}
	.search-btn-gh {
		width: 4rem;
		height: 4rem;
		background-color: transparent;
		border: none;
		filter: invert(11%) sepia(31%) saturate(930%) hue-rotate(196deg)
			brightness(92%) contrast(86%);
		position: absolute;
		right: 0.7rem;
	}
	.search-btn-gh img {
		width: 3rem;
		height: 3rem;
	}
	.main-contents-gh {
	}
	/********베스트 서평********/
	.best-gh {
		margin-left: 3rem;
	}
	.today-best-gh {
		margin-top: 2.5rem;
	}
	.weekly-best-gh {
		margin-top: 2.5rem;
	}
	.monthly-best-gh {
		margin-top: 2.5rem;
	}
	.best-title-gh {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		margin-left: 2.5rem;
	}
	.best-box-gh {
		width: 53rem;
		height: 16rem;
		background-color: #ffffff;
		border-radius: 3rem;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
		display: flex;
		margin-left: 1.2rem;
		position: relative;
	}
	.small-book-gh {
		width: 7.8rem;
		height: 11.3rem;
		backround-color: transparent;
		border: none;
		border-radius: 1rem;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10) inset;
		margin-top: 2.3rem;
		margin-left: 2.3rem;
		margin-right: 1rem;
		border-radius: 1rem;
	}
	.small-book-gh img {
		width: 7.8rem;
		height: 11.3rem;
		border: 0.2px solid rgba(38, 40, 61, 0.50);
		border-radius: 10px;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10) inset;
	}
	.small-profile-gh {
		width: 3rem;
		height: 3rem;
		border-radius: 15px;
		margin-top: 2.5rem;
		margin-left: 0.5rem;
		overflow: hidden;
	}
	.small-profile-gh img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.best-name-gh {
		color: #26283D;
		font-size: 1.5rem;
		margin-top: 2.7rem;
		margin-left: 0.5rem;
	}
	.best-grade-gh {
		color: #779A76;
		font-size: 1rem;
		margin-top: 3.3rem;
		margin-left: 0.5rem;
	}
	.reputation-gh {
		display: flex;
		top: 0;
		margin-top: 2.5rem;
		margin-right: 1rem;
		right: 2.5rem;
		position: absolute;
	}
	.reputation-img-gh {
		width: 2.7vw;
		height: 2.7vw;
		margin-left: 20px;
	}
	.reputation-count-gh {
		font-size: 1rem;
		margin-top: 0.2rem;
		margin-left: 0.5rem;
	}
	.best-review-gh {
		width: 36.5rem;
		height: 6rem;
		background-color: #F5F6FA;
		border-radius: 2rem;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25) inset;
		font-size: 1.3rem;
		margin-top: 6rem;
		margin-left: 180px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px;
		padding-right: 20px;
		position: absolute;
	}


}