@charset "UTF-8";

@media only screen and (max-width:1000px) {
	.community-list {
		margin-top: 7rem;
		background-color: white;
		width: 100vw;
		height: 100vh;
		border-radius: 3rem 3rem 0rem 0rem;
		box-shadow: 1rem 3rem 5rem 0rem rgba(0, 0, 0, 0.25);
	}
	.left-btn {
		position: absolute;
		left: 2rem;
		margin-top: 1rem;
		border: none;
		background-color: transparent;
	}
	.left-btn img {
		height: 3rem;
		width: 3rem;
	}
	#communitys-name {
		margin-top: 5rem;
	}
	.go-made-community {
		margin-top: 2rem;
		text-align: center;
		position: relative;
		top: 5rem;
		bottom: 2rem;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-size: 3rem;
		font-weight: 500;
	}
	.go-made-community img {
		height: 7rem;
		width: 7rem;
	}
	.go-made-community button {
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-weight: 500;
		border-radius: 1rem;
		border: none;
		color: white;
		background-color: #26283D;
		font-size: 2rem;
		width: 20rem;
		height: 5rem;
		margin-top: 2rem;
	}
}