@charset "UTF-8";

@media only screen and (max-width:1000px) {
	.post_detail_background {
		width: 100vw;
		background-color: white;
		border-radius: 4rem 4rem 0rem 0rem;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
		text-align: center;
		background-color: white;
	}
	.white-line {
		height: 100%;
	}
	.post_detail {
		display: flex;
		width: 90%;
		margin: auto;
		padding: auto;
		align-items: center;
		padding: auto;
	}
	.post_user_img {
		width: 8rem;
		height: 8rem;
	}
	.post_user_img img {
		width: 100%;
		height: 100%;
		border-radius: 2rem;
	}
	.post_info {
		position: relative;
		margin-left: 2rem;
	}
	.post_user_info {
		display: flex;
		align-items: center;
	}
	.post_user {
		font-size: 2.5rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_user_grade {
		color: #F66E6E;
		margin-left: 1rem;
		font-size: 2rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
		margin-left: 1rem;
	}
	.post_time {
		text-align: left;
		font-size: 2rem;
	}
	#post_menu_etc {
		position: absolute;
		right: 4rem;
		height: 4rem;
		width: 4rem;
		visibility: visible;
	}
	#post_menu_etc img {
		width: 100%;
		height: 100%;
	}
	.menu-etc-btn {
		border: none;
		background-color: transparent;
	}
	#menu-etc {
		position: relative;
		top: -4rem;
		left: 24rem;
		visibility: hidden;
	}
	#menu-etc img {
		position: absolute;
		width: 7rem;
		height: 20rem;
	}
	.etc-btn {
		position: relative;
		left: 3.5rem;
		top: 6.5rem;
		z-index: 400;
	}
	.etc-btn button {
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-size: 2rem;
		width: 100%;
		color: white;
		border: none;
		background-color: transparent;
	}
	.post {
		width: 90%;
		margin: auto;
		padding: auto;
		text-align: left;
	}
	.post_cp_title {
		font-size: 4rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_cp_contents {
		white-space: pre-wrap;
		font-size: 3rem;
		font-weight: 300;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_icon {
		justify-content: flex-end;
		margin-right: 4rem;
		display: flex;
	}
	.post_icon img {
		height: 3rem;
		width: 3rem;
	}
	.post_like_icon {
		border: none;
		background-color: transparent;
		align-items: center;
		display: flex;
		margin-left: 2rem;
		font-size: 2.5rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_like_icon img {
		transform: rotate(180deg);
	}
	.post_dislike_icon {
		border: none;
		background-color: transparent;
		align-items: center;
		display: flex;
		margin-left: 2rem;
		font-size: 2.5rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_chat_icon {
		border: none;
		background-color: transparent;
		align-items: center;
		display: flex;
		margin-left: 2rem;
		font-size: 2.5rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.post_line {
		margin: auto;
		padding: auto;
		width: 95%;
		background-color: rgba(38, 40, 61, 0.30);
	}

	/* reply */
	.post_reply_background {
		text-align: left;
		margin: auto;
		position: relative;
		background-color: #F5F6FA;
		border-radius: 2rem;
		width: 90vw;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
	}
	.reply_user {
		position: relative;
		left: 2rem;
		font-size: 3rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.reply_txt {
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
		position: relative;
		padding: 1em;
		font-size: 2.5em;
		font-weight: 300;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.reply_date {
		align-items: center;
		display: flex;
		position: relative;
		left: 2rem;
		font-size: 2rem;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.empty-width {
		width: 66%;
	}
	.delete-reply-btn {
		position: relative;
		right: 0;
		background-color: transparent;
		border: none;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-size: 2rem;
	}

	/* 댓글 입력  */
	.post_reply_input {
		position: fixed;
		bottom: 0;
	}
	.box_shadow_reply {
		padding: 1em;
		position: relative;
		display: flex;
		box-shadow: 1rem 3rem 5rem 0rem rgba(0, 0, 0, 0.25);
		width: 100vw;
		background-color: white;
		align-items: center;
	}
	.box-shadow-1 {
		width: 90%;
	}
	.post_reply_text {
		resize: none;
		position: relative;
		background-color: transparent;
		font-size: 3rem;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-weight: 550;
		width: 90%;
		border: none;
		outline-color: #F5F6FA;
		caret-color: #F66E6E;
		resize: none;
	}
	.post_reply_text:focus::placeholder {
		color: #F5F6FA;
	}
	.post_reply_text::placeholder {
		color: rgba(38, 40, 61, 0.50);
	}

	/* delete 모달창  css*/
	.deleteModal {
		border-radius: 2rem;
		background-color: white;
		box-shadow: 1rem 3rem 5rem 0rem rgba(0, 0, 0, 0.25);
		margin: auto;
		padding: auto;
		width: 100vw;
		height: 40vw;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-size: 4rem;
		text-align: left;
		border: none;
	}
	.delete-background {
		margin-top: 4rem;
		margin-left: 4rem;
	}
	.delete-flex {
		background-color: #26283D;
		box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.25) inset;
		border-radius: 3rem 0rem 2rem 0rem;
		width: 40%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.back-btn {
		margin-left: 1.5rem;
		width: 50%;
		font-size: 2.5rem;
		color: white;
		background-color: transparent;
		border: none;
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
	}
	.delete-ok {
		font-weight: 500;
		font-family: 'IBM Plex Sans KR', sans-serif;
		font-size: 2.5rem;
		color: white;
		background-color: transparent;
		border: none;
	}
}
}